<div class="background">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="outer-cont">
    <h2 *ngIf="freshpage">¡A jugar Ta-Te-Ti!</h2>
    <h1 *ngIf="!winner && !isdraw && !freshpage">Jugador: {{player}}</h1>
    <h2 *ngIf="winner">Jugador {{winner}} ha ganado</h2>
    <h2 *ngIf="isdraw">Empate</h2>
    <button *ngIf="winner || isdraw || freshpage" outline (click)="newGame()">Iniciar Juego</button>
  
    <main *ngIf="!winner && !isdraw">
      <app-board *ngFor="let val of squares; let i = index" [value]="val" (click)="makeMove(i)"></app-board>
    </main>
  </div>